doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/libs/bootstrap-4.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/index.css')
    script(src='/libs/bootstrap-4.1.0/js/bootstrap.min.js')
    title raio key store
  body
  #container
      #menu-area.row.text-center
        div.col-33
          p raio key store
        div.col-33
          img#img-logo(src='/img/logo.png' alt='raio key store')
        div.col-33
          p dashboard
      #search-area.row
        div.search-form.col
          form.col(action='/signup',method='post')
            input#search-bar.form-control.input-group-append(type='text', placeholder='your game here!')
            //input#search-button.btn.btn-outline-secundary(type='submit', value='search')
      #itens-area.row.text-center
        each item in itens
          div.col-sm-4
            ul
            img.img-item(src=item.image alt='raio key store')
            li=item.name
            li='$' + item.price
      #about-area.row
        div.col-33
          p raio key store
        div.col-33
          p unisinos
        div.col-33
          p by brunoklein