doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/libs/bootstrap-4.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/index.css')
    script(src='/libs/bootstrap-4.1.0/js/bootstrap.min.js')
    title Raio Keys Stores
  body
  #container
    #menu-area.row.text-center
        #logo.col-md-4
            h3 LOGO1
        #logo.col-md-4
            h3 LOGO2
        #logo.col-md-4
            h3 BOTÕES
    #search-area
        input#search-bar.form-control.center-block(type='text', placeholder='Qual jogo você procura?')
    #itens-area
        h1 itens
