body {
    background-color: rgb(20, 19, 19) !important;
    color: rgb(235, 223, 223) !important;
}

#container {
    width: 100% !important;
}

#menu-area {
    margin-top: 30px;

}

#search-area {
    margin-top: 40px;
    width: 100vw;
}

#itens-area {
    
}

#search-bar {
    max-width: 70vw;
}