body {
    background-color: rgb(20, 19, 19) !important;
    color: rgb(235, 223, 223) !important;
    width: 100% !important;
}

#container {
    max-width: 1000px !important;
    margin: 0 auto;
    float: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

input {
    text-align: center !important;
}

/*MENU*/
#menu-area {
    margin-top: 30px;
}

#img-logo {
    height: 40px;
}

#img-logo:hover{
    height: 33px;
}

.col-33 {
    width: 33,333%;
    margin: 0 auto;
    float: none;
}
